{% extends 'base.html' %}

{% block content %}
<main class="todos-detail">
    <div>
        <a href="{% url 'todos_list' %}">Back to list</a>
        <a href="{% url 'todos_edit' %}">Edit</a>
        <a href="{% url 'todos_delete' %}">Delete</a>
    </div>
  
  
   
</main>
{% endblock content %}