

{% block content %}

<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'home' %}"> Home </a>
            </li>
            <li>
                <a href="{% url 'todos_list' %}"> To Do List </a>
            </li>
        </ul>
    </nav>
    
</body>

{% endblock content %}